*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: whitesmoke;
    height: 5rem;
    line-height: 5rem;

}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 50%; */
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;

}

#Computer-score,#user-score{
    font-size: 4rem;
    margin-top: 4rem;
}

.message-container{
     margin-top: 5rem;
}

#message{
    
    background-color: black;
    color: white;
    font-size: 2rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;

}
